{% extends 'layouts/dashboard.html.twig' %}


{% block title %}| Pessoas | Cadastrar{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/dist/css/iziToast.min.css">
{% endblock %}

{% block breadcrumb %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Pessoas
                        <small>Cadastrar</small></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/pessoas"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="breadcrumb-item active">Pessoa</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

{% endblock %}


{% block content %}
    <section class="content">

        <div class="row">
            <div class="col-12">

                <div class="card card-primary">
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" action="/pessoas/salvarcadastrar" method="post" class="jsonForm">
                        <div class="card-body">

                            <div class="form-group">
                                <label for="nome">Nome</label>
                                <input type="text" class="form-control margin mt-1 mb-1 " id="nome" name="nome" placeholder="Nome" required>

                                <label for="telefone">Telefone</label>
                                <input type="tel" class="form-control margin mt-1 mb-1 " id="telefone" name="telefone" placeholder="Telefone" required>

                                <label for="tipo">Tipo</label>
                                <select class="form-control margin mt-1 mb-1 " id="tipo" name="tipo" required>
                                    <option value="">- Selecione -</option>
                                    <option value="admin">Admin</option>
                                    <option value="personal">Personal</option>
                                    <option value="cliente">Cliente</option>
                                </select>

                                <label for="usuario">Usuario</label>
                                <input type="text" class="form-control margin mt-1 mb-1 " id="usuario" name="usuario" placeholder="Usuario" required>

                                <label for="senha">Senha</label>
                                <input type="password" class="form-control margin mt-1 mb-1 " id="senha" name="senha" placeholder="Senha" required>

                                <label for="confsenha">Confirmação da senha</label>
                                <input type="password" class="form-control margin mt-1 mb-1 " id="confsenha" name="confsenha" placeholder="Repita a senha" required>
                            </div>

                            <div id="personal" style="display: none">
                                <div class="form-group margin mb-1 ">
                                    <label for="cref">CREF</label>
                                    <input type="cref" class="form-control" id="cref" name="cref" placeholder="CREF" maxlength="11">
                                </div>
                            </div>

                            <div id="admin" style="display: none">

                            </div>

                           <div id="cliente" style="display: none">
                               <div class="form-group margin mb-1 ">
                                   <label for="personal">Personal</label>
                                   <select class="form-control" id="personal" name="personal" placeholder="ID - NOME">
                                       <option value="">- Selecione o personal -</option>
                                       {% for pessoa in linhapersonal %}
                                           <option value="{{ pessoa['pessoa'] }}">{{ pessoa['pessoa'] }} - {{ pessoa['nome'] }}</option>
                                       {% endfor %}
                                   </select>
                               </div>
                            </div>



                        


                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>

                    </form>
                </div>

            </div>
        </div>

    </section>


{% endblock %}



{% block javascriptPlugins %}
    <script src="/dist/js/jquery.form.js"></script>
    <script src="/dist/js/iziToast.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
{% endblock %}

{% block jquery %}
    <script>
        $(document).ready(function(){
             var $Telefone = $("#telefone");
             $Telefone.mask('(00)00000-0000');

            $('.jsonForm').ajaxForm({
                dataType:  'json',

                success:   function(d){
                    if (d.status==0){
                        iziToast.error({
                            message: d.mensagem
                        });
                    }else{
                        iziToast.success({
                            message: d.mensagem
                        });
                        $('.jsonForm').trigger("reset");
                    }
                }

            });



            $("#tipo").on("change", function (){
                switch ($(this).val()){
                    case 'admin':
                        $("#admin").show();
                        $("#personal").hide();
                        $("#cliente").hide();
                        break;
                    case 'personal':
                        $("#admin").hide();
                        $("#personal").show();
                        $("#cliente").hide();
                        $("#cref").mask('000000-A/AA');
                        break;
                    case 'cliente':
                        $("#personal").hide();
                        $("#cliente").show();
                        $("#admin").hide();
                        break;
                    case '':
                        $("#admin").hide();
                        $("#personal").hide();
                        $("#cliente").hide();
                        break;
                }
            });

        });
    </script>
{% endblock %}

{% block javascript %}
{% endblock %}