{% extends 'layouts/dashboard.html.twig' %}


{% block title %} Exercícios | Listagem{% endblock %}
{% block stylesheet %}
    <link href="/dist/js/jquery.bootgrid.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/dist/css/iziToast.min.css">
{% endblock %}

{% block breadcrumb %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Exercícios
                        <small>Listagem</small></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="breadcrumb-item active">Exercícios</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
{% endblock %}


{% block content %}
    <section class="content">

        <div class="row">
            <div class="col-12">
                <table id="grid-data" class="table table-condensed table-hover table-striped">
                    <thead>
                    <tr>
                        <th data-column-id="id_exercicio" >Código</th>
                        <th data-column-id="nome_exercicio" data-order="desc" data-sortable="true">Nome</th>
                        <th data-column-id="nome" data-order="desc" data-sortable="true">Categoria</th>
                        <th data-column-id="commands" data-formatter="commands" data-sortable="false">Ações</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <!-- /.row -->
    </section>

    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <iframe id="youtube" allowtransparency="true" scrolling="no" width="100%" height="400" src="" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



{% block javascriptPlugins %}
    <script src="/dist/js/jquery.bootgrid.js"></script>
    <script src="/dist/js/jquery.bootgrid.fa.js"></script>
    <script src="/dist/js/iziToast.js"></script>
    <script src="/dist/js/iziToastExcluir.js"></script>
{% endblock %}

{% block jquery %}
    <script>
        var grid;
        $(document).ready(function(){
            grid = $("#grid-data").bootgrid({
                ajax: true,
                url: "/exercicios/bootgrid",
                formatters: {
                    "commands": function(column, row)
                    {
                        return "<button type=\"button\" class=\"btn btn-primary command-edit\" data-row-id=\"" + row.id_exercicio   + "\"><span class=\"fas fa-edit\"></span></button> " +
                            "<button type=\"button\" class=\"btn btn-danger command-delete\" data-row-id=\"" + row.id_exercicio + "\"><span class=\"fa fa-trash\"></span></button> " +
                            "<button type=\"button\" class=\"btn btn-info command-video\"  data-toggle=\"modal\" data-target=\"#videoModal\"  data-video=\"" + row.url_video + "\"><span class=\"fas fa-video\"></span></button>";
                    }
                }
            }).on("loaded.rs.jquery.bootgrid", function()
            {
                grid.find(".command-edit").on("click", function(e)
                {
                    document.location = '/exercicios/formeditar/' + $(this).data("row-id");
                }).end().find(".command-delete").on("click", function(e)
                {
                    iziToastExcluir($(this).data("row-id"));
                 }).end().find(".command-video").on("click", function(e)
                 {
                     var button = $(this) // Button that triggered the modal
                     var video = button.data('video') // Extract info from data-* attributes
                     // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                     // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                     var modal = $('#videoModal')
                     modal.find('iframe').attr('src', 'http://www.youtube.com/embed/' + video)

                     $('#videoModal').modal();
                });
            });
        });

        function excluir(id_exercicio){
            $.post(
                "/exercicios/excluir",
                { id: id_exercicio },
                function( data ) {
                    if (data.status==0){
                        iziToast.error({
                            message: data.mensagem
                        });
                    }else{
                        iziToast.success({
                            message: data.mensagem
                        });
                        grid.bootgrid("reload");
                    }
                },
                "json"
            );
        }
    </script>


{% endblock %}

{% block javascript %}
{% endblock %}