{% extends 'layouts/dashboard.html.twig' %}


{% block title %}| Mensalidades | Cadastrar{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/dist/css/iziToast.min.css">
{% endblock %}

{% block breadcrumb %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Avaliações
                        <small>Cadastrar</small></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="breadcrumb-item active">Avaliações</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

{% endblock %}


{% block content %}
    <section class="content">

        <div class="row">
            <div class="col-12">

                <div class="card card-primary">
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" action="/avaliacoes/salvarcadastrar" method="post" class="jsonForm">
                        <div class="card-body">

                            <div class="form-group">

                                <label for="valor">Valor</label>
                                <input type="number" class="form-control margin mt-1 mb-1 " id="valor" name="valor" placeholder="Valor" min="1" step="0.1" required>

                                <label for="desconto">Desconto</label>
                                <input type="number" class="form-control margin mt-1 mb-1 " id="desconto" name="desconto" placeholder="Desconto" min="0" step="0.1">

                                <div class="form-group margin mb-1 ">
                                    <label for="cliente">Cliente</label>
                                    <select class="form-control" id="cliente" name="cliente" placeholder="ID - NOME">
                                        <option value="">- Selecione o cliente -</option>
                                        {% for cliente in clientes %}
                                            <option value="{{ cliente['id'] }}">{{ cliente['id'] }} - {{ cliente['nome'] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>



                            </div>






                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Salvar</button>
                            </div>

                    </form>
                </div>

            </div>
        </div>

    </section>

{% endblock %}



{% block javascriptPlugins %}
    <script src="/dist/js/jquery.form.js"></script>
    <script src="/dist/js/iziToast.min.js"></script>
{% endblock %}

{% block jquery %}
    <script>
        $(document).ready(function(){
            $('.jsonForm').ajaxForm({
                dataType:  'json',

                success:   function(d){
                    if (d.status==0){
                        iziToast.error({
                            message: d.mensagem
                        });
                    }else{
                        iziToast.success({
                            message: d.mensagem
                        });
                        $('.jsonForm').trigger("reset");
                    }
                }

            });
        });
    </script>
{% endblock %}

{% block javascript %}
{% endblock %}